<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hydra" type="Hydra.Sys.Config.Sections.HydraConfigSection,Hydra.Sys" />
    <section name="hydra.config.zk" type="Hydra.Sys.Config.Zookeeper.ZookeeperSection,Hydra.Sys.Config.Zookeeper" />
  </configSections>

  <hydra>
    <webapi url="http://+" port="8282" />
    <version value="v1.0.0.0" />
    <appname name="SWAMP_AGENT" />
    <cryptkey key="1337HA" />
    <repoimpl name="Hydra.Sys.Config.Zookeeper" />
    <env name="TEST" />
    <refresh value="59" />
    <mq connection="host=192.168.7.22;Port=5672;VirtualHost=hydra;UserName=hydra;Password=Ai1SeDi2Ja" />
  </hydra>

  <hydra.config.zk>
    <server url="priapo.energysoftware.priv" user="" password="" />
  </hydra.config.zk>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>